doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title Swap Puzzle
		link(rel='stylesheet', href='swap_piece.css')
		style.
			h1 {
				text-align: center;
			}

			p {
				text-align: center;
			}

			.menu td a {
				font-size: 24px;
				text-decoration: none;
				color: #000;
				display: block;
			}

			.menu td a[href=""] {
				display: none;
			}

			.menu td a span {
				display: block;
			}

			.menu td a span:last-child {
				font-size: 12px;
				font-weight: normal;
				color: #555;
			}

			.menu td:hover {
				background-color: #EDE;
			}

			.deactive td {
				background-color: #E2E2E2;
			}

			.deactive td a {
				color: #777;
			}

			.menu td.clear {
				background-color: #84d0ff;
			}

			div {
				margin-top: 32px;
			}
	body
		#container
			h1 Swap Puzzle
		
			p Select Question!

			table.menu
				for tr in [0, 1, 2, 3, 4, 5]
					tr
						for td in [0, 1, 2, 3, 4]
							- var i = tr * 5 + td;
							td
								a(href="q/q" + i + ".html")
									span Q.#{i}
									span
			h2 RULE
			ul
				li ピースを入れ替えて数字を答えと同じ配置にするとクリア
				li 交換したいピースをクリックする
				li リセットボタンではじめからやり直す
			
			div
				span#clear(style="display: none;") スコアのクリア
		
		script.
			(function() {
				if(localStorage) {
					var a = document.querySelectorAll('td a');
					for(var i = 0; i < a.length; i++) {
						var p = a[i].href.match(/.*\/([^\?#;\/]+).*$/)[1];

						var best = localStorage.getItem(p);
						if(best) {
							var b = a[i].childNodes[1];
							b.textContent = 'Best: ' + best + '';
							a[i].parentNode.classList.add('clear');
						}
					}

					var clear = document.getElementById('clear');
					clear.style.display = 'inline';
					clear.addEventListener('click', function() {
						localStorage.clear();
						var a = document.querySelectorAll('td a');
						for(var i = 0; i < a.length; i++) {
							a[i].childNodes[1].textContent = '';
							a[i].parentNode.classList.remove('clear');
						}
					});
				}
			})();
		